/* general rules */
:root{
    --darkblue1: #2c3e50;
    --green: #1abc9c;
    --darkblue2: #3a546d;
}

.font_color_dark{
    color: var(--darkblue1);
}

.font_color_teal{
    color: var(--bs-teal);
} 

.round_container{
    width: 40px;
    height: 40px;
}

a{
    color: white; 
    
    line-height: 2.3;
    
    font-size: 16px;
}

a:hover{
    color: white;
}
/* /general rules */

/* bg color settings */
header,
footer{
    background-color: var(--darkblue1);
}

.jumbotrone, 
.about{
    background-color: var(--green);
}


.form{
    background-color: blue;
}

.info{
    background-color: var(--darkblue2);
}
/* /bg color settings */

.avatar_size{
    width: 250px;
}

.hr_style{
    width: 100px;

    border-radius: 100px;
    padding: 3px;

    opacity: 1;
}

.portfolio_img_container{
    border-radius: 10px;
}

.portfolio_img{
    width: 100%;
}

.lay_over{
    width: 100%;
    height: 100%;

    display: none;

    background-color: var(--green);

    opacity: .6;
}

.portfolio_img_container:hover .lay_over{
    display: block;
}

.plus_style{
    font-size: 100px;
    
    display: none;
}

.portfolio_img_container:hover .plus_style{
    display: block;
}

.form_style,
.txtarea_style{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ced4da;

    line-height: 50px;
}

.form-control::placeholder { 
    color: var(--darkblue1);
    font-size: 25px;
    opacity: 1;
}

.form-control:focus {
    border-color: var(--bs-primary);
    box-shadow: none;
}

.label_style{
    font-size: 25px;
}

.btn_style{
    background-color: var(--bs-teal);

    font-size: 20px;

    border: none;
}

.btn_style:hover{
    background-color: var(--bs-green);
}
