/* general rules */
:root{
    --darkblue1: #2c3e50;
    --green: #1abc9c;
    --darkblue2: #3a546d;
}

html{
    color: var(--darkblue1);
}

.font_color_dark{
    color: var(--darkblue1);
}
/* /general rules */

/* bg color settings */
header,
footer{
    background-color: var(--darkblue1);
}

.jumbotrone, 
.about{
    background-color: var(--green);
}


.form{
    background-color: blue;
}

.info{
    background-color: var(--darkblue2);
}
/* /bg color settings */

.avatar_size{
    width: 250px;
}

.hr_style{
    width: 100px;

    border-radius: 100px;
    padding: 3px;

    opacity: 1;
}

.portfolio_img_container{
    border-radius: 10px;
}

.portfolio_img{
    width: 100%;
}

.lay_over{
    width: 100%;
    height: 100%;

    display: none;

    top: 0;
    left: 0;
    right: 0;

    background-color: var(--green);

    opacity: .6;
}

.portfolio_img_container:hover .lay_over{
    display: block;
}

/* .container-fluid{
    height: 100vh;
}

[class*="col"]{
    background-color: antiquewhite;
    border: 1px solid red;
}

.blue{
    height: 100px;

    background-color: #2c3e50;
}

.green{
    

    background-color: #1abc9c;
}

.white{


    background-color: white;
}

.info{
    height: 500px;

    background-color: #3a546d;
}


.card{
    background-color: red;
    height: 400px;
    width: 500px;
} */

